html{
  box-sizing: border-box;
}
/*Header Styling */
header{
  font-family: 'Kaushan Script', cursive;
  width: 100%;
}

.js-query{
  width: 300px;

}
.transparentTextBox{
  background-color: rgba(255,255,255,0.3);
  width:100%
}

.foodButton{
  cursor: crosshair;
  background: white;
  height: 200px;
  width: 200px; 
  margin: 25px;
  border-radius:150px;
  border: black solid 3px;
}

.foodButton:hover{
  border:  solid 20px; 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.foodButton:focus{
  border: rgba(4, 133, 54, 0.3) solid 20px; 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


.foodImg{
  height: 100px;
  width: 100px;
}


body{
  font-family: 'Open sans', sans-serif;
  font-size:16px;
 background: url('https://c.pxhere.com/photos/cd/ef/monument_valley_usa_wild_west_travel_holiday_tourism_summer_america-1405545.jpg!d') fixed center center no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:center;
  margin-bottom:100px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  height: auto;

}

.venuePhoto{
  margin-top:50px;
  display:flex;
  
}

.js-venue-entry{
  display:flex;
  justify-content:center;
  flex: 0 0 calc(33.3% - 20px);
  flex-wrap: wrap;
  margin:20px;
  background: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
}


main{
  margin-top:20px;
}

