html{
  box-sizing: border-box;
}
/*Header Styling */
.transparentTextBox{
  background-color: rgba(255,255,255,0.7);
  width:100%;
  font-family: 'Kaushan Script', cursive;
  margin: 0;
}
#hungryHunter{
  margin-bottom: -10px;
}
#searchNearby{
  padding-bottom: 20px;
  margin-bottom:30px;
}

/* placeholder text styling */
::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder  { /* Chrome/Opera/Safari */
  color: darkslategray;
  font-size: 18px;
}

#autocomplete{
  font-size:18px;
}

/* Search Bar Styling */
.js-query{
  width: 300px;
  height:30px;
}

#js-search-button:hover{
  cursor:pointer;
}
#js-search-button{
  height:36px;
  width:66px;
}


/*food button Styling */
.flexButtonWrapper{
  display:flex;
  -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
  justify-content:center;
}

.foodButton{
  margin-top: 10px;
  cursor: crosshair;
  background: white;
  height: 150px;
  width: 150px; 
  border-radius:150px;
  border: black solid 3px;
  transition-property: border, border-radius;
  transition-duration: 1s;
}

.foodButton:hover, .navButton:hover{
  border:  rgba(4, 133, 54, 0.3)  solid 20px; 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.foodButton:focus, .navButton:focus{
  border: rgba(4, 133, 54, 0.3) solid 20px; 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.foodImg{
  height: 75px;
  width: 75px;
}

/*Content Styling */
body{
  font-family: 'Open sans', sans-serif;
  font-size:16px;
 background: url('https://c.pxhere.com/photos/cd/ef/monument_valley_usa_wild_west_travel_holiday_tourism_summer_america-1405545.jpg!d') fixed center center no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:center;
}

.flex-container{
  display: flex;
  -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-evenly;

}

.js-venue-title{
  margin:20px 20px 0 20px;
  width: 100%;
  background:rgba(255, 228, 196, .7);
  height: 75px;
}

.js-photo-container{
  width: 300px;
  height:350px;
  
}

.js-venue-photo{
  margin-top:20px;
  width:inherit;
  height: inherit;
  background: white;
}

.js-address{
height:66px;
}
.js-venue-details{
  margin: 20px;
  width:300px;
  height:350px;
  min-height:350px;
  background:rgba(255, 228, 196, .7);
}

.js-distance{
margin-bottom:20px;
}

.js-tip-container{
  height:auto;
  min-height:160px;
}
.js-tip-link{
  margin:20px 0;
}
.js-tips{
  height:auto;
  min-height:140px;
}
.js-venue-entry{
  display:flex;
  -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
  justify-content:center;
  flex: 2 2 calc(32% - 25px);
  flex-wrap: wrap;
  margin:20px;
  background: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
}
/* back and next button styling */
.navButton{
  cursor: crosshair;
  margin: 10px;
  font-size: 20px;
  background: white;
  height: 125px;
  width: 125px; 
  border-radius:125px;
  border: black;
  transition-property: border, border-radius;
  transition-duration: 1s;
}

/*footer styling*/

.footerSpace{
  height:600px;
}
.footerText{
  font-family: 'Kaushan Script', cursive;
  padding: 20px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  font-size:50px;
  color:black;
  vertical-align:center;
  background-color: rgba(255,255,255,0.3)
}

.footerAttribution{
  width:100px;
  display:flex;
  height:100px;
}


@media only screen and (max-width: 360px) {
  .foodButton{
    margin-top: 10px;
    background: white;
    height: 125px;
    width: 125px; 
    border-radius:125px;
    border: black solid 3px;
  }

  .foodImg{
    height: 50px;
    width: 50px;
  }
  
  
  .footerSpace{
    height:225px;
  }
  .footerText{
    font-family: 'Kaushan Script', cursive;
    padding: 20px;
    display:flex;
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
    flex-direction:row;
    justify-content: space-evenly;
    font-size:25px;
    vertical-align:center;
    background-color: rgba(255,255,255,0.3)
  }
  
  .footerAttribution{
    width:50px;
    display:flex;
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
    height:50px;
}
.js-venue-entry{
  max-width: 300px;
  margin:20px;

}

}